.nav{
    margin-left: 19%;
    margin-right: 15%;
    margin-top: 10px;
}

button{
    margin-left: 20px;
    border-radius: 4px;
    background-color: olive;
    color: white;
}
button:hover{
    border-color: darkslategrey;
    color: darkslategrey;
    background-color: #FFD07B;
}


.container{
  background-image: url(https://images.squarespace-cdn.com/content/v1/5db1b38d4efb877e1ddaaf80/1574711464387-6S3J7OHY6Y9MCY81ITXJ/ke17ZwdGBToddI8pDm48kHH9S2ID7_bpupQnTdrPcoF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0nQwvinDXPV4EYh2MRzm-RRB5rUELEv7EY2n0AZOrEupxpSyqbqKSgmzcCPWV5WMiQ/leafy-plant-on-white-wall.jpg?format=2500w);
  background-size: cover;
  background-position: center top;
}

.contact{
    background-image: url(https://d39l2hkdp2esp1.cloudfront.net/img/photo/158617/158617_00_2x.jpg);
    background-size: cover;
    background-position: center top;
}

.jumbotron{
    text-align: center;
    margin: 20px;
    color: darkslategrey;
    background: none;
    font-family: 'Inconsolata', monospace;
}

.btn{
    margin-right: 10px;
    background-color: #FFD07B;
    border: none;
    color: darkslategrey;
    font-family: 'Inconsolata', monospace;
}

.btn:hover{
    color: #FFD07B;
    background-color: darkslategrey;
}

button{
    font-family: 'Inconsolata', monospace;
    color: #FFD07B;
    background-color: darkslategrey;
}

hr{
    border-top: 3px solid #FFD07B;
}

p{
    color: darkslategrey;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 16px;
}

h1{
    font-family: 'Inconsolata', monospace;
    margin-bottom: 30px;
    color: darkslategrey;
}

h5{
    font-family: 'Inconsolata', monospace;
    color: darkslategrey;
}

a{
    font-family: 'Inconsolata', monospace;
    color: darkslategrey;

}

.profile-pic{
    height: 430px;
    width: 330px;
    margin-right: -70px;
    border-radius: 12px;
    margin-top: 20px;
    float: right;
}

.contact-points{
    margin-left: -20px;
    margin-top: 50px;

}

h6{
    color: darkslategrey;
    margin-left: 20px;
}

.card{
    float: left;
    margin-right: 80px;
    margin-top: 20px;
    text-align: center;
    background-color: #FFD07B;
    box-shadow: 0 4px 8px 0 darkslategrey, 0 6px 20px 0 darkslategrey;
}